<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= tipi.name %></h1>

      <p><%= tipi.description %></p>

      <a href="/tipis/<%= tipi.id %>/edit" class="btn btn-warning">Edit</a>

      <form
        style="display:initial"
        action="/tipis/<%= tipi.id %>/destroy"
        method="post"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>

      <!-- Message Form -->
      <section id="message-form">
        <% if(currentUser) { %> <% include ../messages/new.ejs %> <% } %>
      </section>
      <!-- Ends Message Form -->

      <!-- Messages List -->
      <section id="messages-list">
        <% if(tipi.messages) { %> <% tipi.messages.forEach((message) => { %> <%-
        include("../messages/show.ejs", {message}) %> <% }) %> <% } %>
      </section>
      <!-- Ends Message List -->
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
