<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container showTipi-block">
      <h1 class="showTipi-header">Tipi Name: <%= tipi.name %></h1>

      <p class="lead-description">(<%= tipi.description %>)</p>

      <% if(currentUser) { %>
      <a href="/tipis/<%= tipi.id %>/edit" class="btn btn-warning editTipi-btn">Edit Tipi</a>

      <form
        style="display:initial"
        action="/tipis/<%= tipi.id %>/destroy"
        method="post"
      >
        <button type="submit" class="btn btn-danger closeTipi-btn">Close Tipi</button>
      </form>
      <% } %>

      

      <!-- Messages List -->
      <section id="messages-list">
        <% if(tipi.messages) { %> <% tipi.messages.forEach((message) => { %> <%-
        include("../messages/show.ejs", {message}) %> <% }) %> <% } %>
      </section>
      <!-- Ends Message List -->

      <!-- Message Form -->
      <section id="messages-form"></section>
      <% if(currentUser) { %> <% include ../messages/new.ejs %> <% } %>
    </section>
      <!-- Ends Message Form -->
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
